#u234-8,#u263-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u271-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u250-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u244-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u256-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u335-8,#u352-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u345-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u361-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u368-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u339-4,#u375-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u388-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u381-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u391-6,#u392-14
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u392,#u392-4,#u392-7,#u392-10
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u398-2,#u504-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u502-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u503-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u441-2,#u473-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u512-4,#u670-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u720-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u737-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u505-4,#u501-4,#u498-4,#u499-4,#u500-4,#u466-4,#u671-4,#u675-4,#u721-4,#u730-4,#u738-4,#u742-4,#u631-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u931-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u932-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u939-6,#u1073,#u1073-4
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u470-4,#u471-4,#u472-4,#u929-4,#u948-4
{
	font-family: open-sans-n4, sans-serif;
}

#u966-4
{
	font-family: open-sans-n4, sans-serif;
}

#u958-4
{
	font-family: open-sans-n4, sans-serif;
}

#u944-4
{
	font-family: open-sans-n4, sans-serif;
}

#u987-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu947_input,#widgetu947_prompt,#widgetu963_input,#widgetu963_prompt,#widgetu955_input,#widgetu955_prompt,#widgetu942_input,#widgetu942_prompt,#widgetu984_input,#widgetu984_prompt
{
	font-family: open-sans, sans-serif;
}

#u930-4,#u1072-8,#u1073-8,#u1039-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

