#u234-8,#u263-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u271-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u250-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u244-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u256-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u335-8,#u352-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u345-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u361-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u368-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u339-4,#u375-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u388-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u381-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u391-6,#u392-14
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u392,#u392-4,#u392-7,#u392-10
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1280-2
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u1288-4,#u1287-4
{
	font-family: open-sans-condensed-n3, sans-serif;
}

#u1291-4,#u1296-16,#u1304-4,#u1292-4,#u1302-26,#u1312-4,#u1309-4,#u1315-4,#u1318-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1299-6,#u1300-4,#u1297-4
{
	font-family: open-sans-n8, sans-serif;
}

